<!DOCTYPE html>
<html>
<head>
<style>
a{
    text-decoration:none
}

</style>
<title>Title of the document</title>
</head>

<body>





<form action="/users/signup" method="POST">
<p>Name : <input type="text" name="name"></p>

<p>Username: <input type="text" name="username"></p>

<p>Password: <input type="password" name="password"></p>
<br>
<input type="submit" value="  Signup  ">
<button><a href="/login" btn>&nbsp;&nbsp;Login&nbsp;&nbsp;</a></button>
</form>

</body>

</html>